.flex-grid-thirds {
  display: flex;
  align-items: center;
}

.flex-grid-thirds .col {
  width: 33%;
  text-align: center;
}

.flex-grid-thirds .col-2 {
  width: 50%;
  padding: 1em;
}

.about .sj-headshot {
  border-radius: 50%;
  padding: .5em;
  background-image: linear-gradient(to top, #929292, #828282, #737373, #646464, #565656, #4a4a4a, #3e3e3e, #333333, #282828, #1d1d1d, #121212, #000000);
  transition: background-image 1s ease 5s;
  width: 50%;
}

.about .sj-headshot:hover {
  background-image: linear-gradient(to bottom, #929292, #828282, #737373, #646464, #565656, #4a4a4a, #3e3e3e, #333333, #282828, #1d1d1d, #121212, #000000);
  transition: background-image 1s ease 5s;
}

.about .btn {
  color: black;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid black;
  margin: 1em 0;
}

.desc {
  line-height: 1.6;
}

.about .socialmedia svg {
  width: 20px;
  height: 20px;
  stroke-width: 1.2;
  padding: 1em .5em;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  stroke: #000;
}

.about .socialmedia a:first-child svg {
  padding: 1em .5em 1em 0em !important;
}

.about a svg:hover {
  stroke: #BBB;
}

.about h2, h3, h4, h5, h6 {
  color: #333;
  margin-top: 0;
}

.about a {
  color: #00D7FF;
  color: #000000;
  text-decoration: none;
}

.about a:hover {
  font-weight: bold;
}

.example-header {
  background: #333;
  color: #FFF;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}

.example-header h1 {
  color: #FFF;
  font-weight: 300;
  margin-bottom: 20px;
}

.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}

.container-fluid .row:nth-child(even) {
  background: #F1F4F5;
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}

.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

.timeline-item {
  padding-left: 40px;
  position: relative;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.timeline-marker:before {
  background: #000000;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 10px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #000000;
}

.timeline-content {
  padding-bottom: 40px;
}

.timeline-content p:last-child {
  margin-bottom: 0;
}

.period {
  padding: 0;
}

.period .timeline-info {
  display: none;
}

.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}

.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}

.period .timeline-content {
  padding: 40px 0 70px;
}

.period .timeline-title {
  margin: 0;
}

@media (min-width: 992px) {
  .timeline-centered, .timeline-centered .timeline-item, .timeline-centered .timeline-info, .timeline-centered .timeline-marker, .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info, .timeline-centered .timeline-content {
    width: 47%;
  }
  .timeline-centered>.timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered>.timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 3em;
  }
  .timeline-centered>.timeline-item:nth-child(odd) .timeline-content p {
    padding-right: 5em;
    line-height: 1.6;
  }
  .timeline-centered>.timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered>.timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
    padding-bottom: 3em;
  }
  .timeline-centered>.timeline-item:nth-child(even) .timeline-content p {
    padding-left: 5em;
    line-height: 1.6;
  }
  .timeline-centered>.timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}

.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #00D7FF;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #00D7FF;
}

@media (max-width: 600px) {
  .flex-grid-thirds {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
  }
  .flex-grid-thirds .col, .flex-grid-thirds .col-2 {
    width: 90%;
    text-align:center;
  }
  .row.example-centered {
    width: 90%;
    margin: 0 auto;
  }
}