body {
  background-color: #fff;
  margin: 0;
}
body, h1, h2, h3, h4, h5, a, span, p, div, ul, li {
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}
.header {
    border-bottom:2px solid #000;
}
.topheader {
    text-align:center;
    padding:5em;
}
ul.menu li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.menu {
  background-color: transparent;
  padding: 0;
  text-align: center;
  margin: 0;
  margin-bottom:-2px;
}
ul.menu li a {
  color: #000;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
}
.content {
  background-color: #fff;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.active {
  border-bottom: 2px solid transparent;
  -webkit-border-image: -webkit-linear-gradient(top left, #00D7FF, #313896, #9F32B2);
  border-image: linear-gradient(to right, #00D7FF, #313896, #9F32B3);
  border-image-slice: 2;
  background: linear-gradient(to right, #00D7FF, #313896, #9F32B3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer {
    text-align: center;
    font-size:.8em;
    padding: 3em;
    border-top:2px solid #000;
}
.footer a {
    color: #000;
}
.footer a svg:hover{
  stroke: #00D7FF;
}
.footer .socialmedia svg {
    width: 20px;
    height:20px;
    stroke-width:1.5;
    padding:0 .5em;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}