.work h1 {
    text-align: center;
    padding: 1em !important;
}

.work .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work .container-item {
    flex: 1;
}

.work .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: .5em;
    margin: 3em;
}

.work .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.work .txt-container {
    padding: 1em;
}

.work .card img {
    width: 100%;
    border-radius: .5em .5em 0 0;
}

.work .card p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    line-height: 1.6;
}

.work a {
    color: black;
    text-decoration: none;
}

.work h4 {
    line-height: 1.6;
}

@media (max-width:768) {
    .work h1 {
        padding: 3em 1em 1em 1em !important;
    }
}